.CodeMirror-fullscreen {
	z-index: 1000000;
}

.CodeMirror {
	height: 600px;
	font-family: 'Source Code Pro', monospace;
	font-size: 13px;
	background-color: var( --clr-surface, #ffffff );
	color: var( --clr-on-surface, #000000 );
}

.cm-mw-htmltag-attribute {
	color: #8a5700;
}

.theme--dark .cm-mw-htmltag-attribute {
	color: #f59b00;
}

.CodeMirror.cm-s-default.CodeMirror-wrap > div > textarea {
	/* stylelint-disable-next-line declaration-no-important */
	width: 0 !important;
	/* stylelint-disable-next-line declaration-no-important */
	outline: 0 solid #000000 !important;
	border: 0 solid #000000;
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}

.cm-mw-template-bracket {
	color: #fd00ff;
	font-weight: bold;
}

.theme--dark .cm-mw-template-bracket {
	color: #ff75ff;
}

.cm-mw-template-name {
	color: #e66c00;
	font-weight: bold;
}

.theme--dark .cm-mw-template-name {
	color: #ff871f;
}

.cm-mw-template-delimiter {
	color: #112198;
	font-weight: bold;
}

.theme--dark .cm-mw-template-delimiter {
	color: #95a0f3;
}

.cm-mw-template-argument-name {
	color: #ff0000;
	font-weight: bold;
}

.theme--dark .cm-mw-template-argument-name {
	color: #ff8585;
}

.cm-mw-template {
	color: #1169aa;
	font-weight: normal;
}

.theme--dark .cm-mw-template {
	color: #58b0ee;
}

.wikiEditor-ui .options {
	z-index: 10000;
}

.CodeMirror.lineWrapping pre {
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: normal;
}

div.wikiEditor-ui-toolbar .group .tool-select .options {
	/* stylelint-disable-next-line declaration-no-important */
	z-index: 100 !important;
}

.CodeMirror-activeline-background {
	background-color: var( --clr-surface-3, #e8f2ff );
}

.CodeMirror-linenumber {
	cursor: pointer;
	color: var( --clr-on-surface, #999999 );
}

.CodeMirror-gutters {
	background-color: var( --clr-surface-1, #f7f7f7 );
}

.CodeMirror-selected {
	background: var( --clr-surface-3, #d9d9d9 );
}

.CodeMirror-focused .CodeMirror-selected {
	background: var( --clr-surface-3, #d7d4f0 );
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
	background: var( --clr-surface-3, #d7d4f0 );
}

.theme--dark .CodeMirror-cursor {
	border-color: var( --clr-on-background, #d7d4f0 );
}
